
header{
     padding: 0.5%;
     height: 1.5em;
     background-color: rgba(21, 3, 46, 0.5);
     text-align: center;
     color: rgb(212, 195, 195);
}
     
#header a:hover{
     color: black;
}

#header a:active{
     color: blueviolet;
}


.icon{
     display: none;
}

#name{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 1em;
     font-weight: 600;
     display: inline-block;
     padding-left: 5%;
}
.navbar{
     display: inline-block;
     padding-left: 40%;
     font-size: 1em;
}

#verNavBar{
     display: none;
}


#home{
     display: inline-block;
     padding-left: 2em;
}

#about{
     display: inline-block;
     padding-left: 2em;
}

#skills{
     display: inline-block;
     padding-left: 2em;
}

#contact{
     display: inline-block;
     padding-left: 2rem;
}



a{
     text-decoration: none;
     color: inherit;
}



@media  screen and (max-width: 600px) {
     #header{
          text-align: left;
     }
     .icon{
          display: inline-block; 
          padding: 0%;
          margin-left: 6%;
          
     }

     #icon{
          border: none;
          background-color: inherit ;
          font-size: 1em;
          color: rgb(212, 195, 195);
     }

     #name{
          padding-left: 20%;
     }
     .navbar{
          display: none;
     }
     
}

@media screen and (max-width: 600px) {
     .header .responsive {position: relative;} */
     .header .responsive .icon{
          position: absolute;
          right: 0;
          top: 0;
        }
      .header.responsive .navbar {
          background-color: rgba(44, 3, 102, 0.5);
          gap: 10px;
          width: 30%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex: 10%;
          margin-top: 1.2%;
          padding: 5%;
          padding-left: 0.5%;
          padding-right: 3%;
     }

   }